version: '3.3'
services:

    nginx:
      image: nginx:latest
      build: requirements/nginx/
      ports: 8080:80
      networks:
        - frontend
    db:
      # We use a mariadb image which supports both amd64 & arm64 architecture
      image: mariadb:10.6.4-focal
      networks:
        - backend
      volumes:
        - db
    wordpress:
      image: wordpress:latest
      ports:
        - 80:80
      restart: always
      networks:
        - frontend
        - backend
      volumes:
        - wordpress

volumes:
  db:
  wordpress:

networks:
    frontend:
    backend: